
    .btn-custom-red {
    background-color: #b22222;
    border-color: #b22222;
    }
    .btn-custom-red:hover {
    background-color: #8b1a1a;
    border-color: #8b1a1a;
    }

    .navbar-compact {
    padding-top: 0.25rem;   /* metade do padrão */
    padding-bottom: 0.25rem;
    }

    .logo-custom {
    border: 2px solid white; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .logo-custom:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    }
